.intro__text {
  font-size: 1.2rem;
  color: $gray_dark;
}

.intro__title {
  margin-bottom: 0.5em;

  font-weight: 600;
  font-size: 3.2rem;
  line-height: 1.2;
  color: $black;
}

.intro__subtitle {
  margin-bottom: 2rem;

  font-weight: 400;
  font-size: 1.6rem;
  color: $black;
}

.intro__subtitle-pink {
  color: $pink;
}
