.nav {
  display: flex;
  flex-wrap: wrap;

  font-weight: 500;
  font-size: 1rem;

  @media (max-width: $breakpoint_lg) {
    justify-content: center;
  }

  @media (max-width: $breakpoint_md) {
    justify-content: space-around;
  }

  @media (max-width: $breakpoint_sm) {
    flex-direction: column;
  }
}

.nav__link {
  margin-right: 1rem;
  padding: 0.3rem 1.5rem;

  color: $black;
  text-decoration: none;

  border-radius: 20px;

  transition: background-color 0.1s linear;

  &:hover {
    background-color: darken($gray, 3%);
  }

  &.active {
    color: $gray;

    background-color: $pink;
  }
}
