.nav {
  display: flex;
  font-weight: 500;
  font-size: 1rem;
}

.nav__link {
  margin-right: 1rem;
  padding: 0.3rem 1.5rem;
  text-decoration: none;
  color: $black;
  border-radius: 20px;
  transition: background-color 0.1s linear;

  &:hover {
    background-color: darken($gray, 3%);
  }

  &.active {
    background-color: $pink;
    color: $gray;
  }
}
