.services {
  margin-bottom: 2rem;
}

.services__item {
  position: relative;

  height: 100%;
  padding: 1.2rem;

  background-color: $white;
  border-radius: $radius;
  box-shadow: $shadow;
}

.services__title {
  position: absolute;
  top: 1rem;
  left: 1.2rem;
  z-index: 1;

  margin-top: 0.5rem;
  padding-left: 5rem;

  font-weight: 500;
  font-size: 1.4rem;
  color: $black;
}

.services__text {
  margin-top: 2rem;

  font-size: 1rem;
  color: $black;
}
