.social {
  display: flex;
  align-items: center;
}

.social__text {
  margin-right: 2rem;

  font-weight: 600;
  font-size: 0.8rem;
  color: $black;
}

.social__link {
  margin-right: 1rem;

  &:hover .social__icon {
    fill: $black;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  display: block;
  width: 30px;
  height: 30px;

  transition: fill 0.1s;

  fill: #ababab;

  &--fb {
    width: 22px;
    height: 22px;
  }

  &--ins {
    width: 24px;
    height: 24px;
  }
}
